@import '../../styles/styles.scss';

.SignIn {
  width: 100%;
  @include grid($grid-template-columns: 1fr,
    $row-gap: 1.5rem, $justify-items:unset, $align-items:unset);

  .InputField {
    font-size: 1.6rem;
    text-align: left;
  }

  .input-field-container {
    position: relative;

  }
}