@import '../../styles/styles.scss';

.ProductQuantity {
  width: 100%;
  max-width: 60rem;
  @include flexbox($flex-direction:column, $align-items:unset);
  margin: 4rem 0 4rem 0;

  &__heading {
    font-size: 1.7rem;
    font-weight: normal;
  }

  &__input {
    width: 100%;
    @include flexbox;
    margin: 3rem auto 0;
  }

  &__input-value-controller {
    width: 20%;
    height: 5rem;
    @include flexbox;
    flex-grow: 0;
    cursor: pointer;
    border: 0.1rem solid black;
    background-color: #3F51B5;
  }

  &__sign {
    font-size: 2.7rem;
    line-height: 5rem;
    font-family: 'Lucida Grande';
    color: white;
    font-weight: lighter;
  }

  .InputField {
    width: 80%;
    height: 5rem;
  }
}