@import '../../styles/styles.scss';

.SignInSignUpChoice {
  width: 100%;
  position: relative;

  &__choices {
    width: 100%;
    @include flexbox($justify-content: space-evenly);
  }

  &__choice {
    font-size: 2rem;
    position: relative;
    font-weight: bold;
    cursor: pointer;

    @include media-query(xlarge) {
      @include hover-effect;
    }

    &--selected {
      @include pseudo-element-styling {
        transform: scaleX(1);
      }
    }
  }

  &__forms {
    width: 100%;
    margin: 4rem 0 8rem;
    @include flexbox;
  }
}