@import '../../styles/styles';

.SortOptions {
  height: 100%;
  max-height: 60rem;
  @include flexbox($flex-direction:column,
    $justify-content:space-evenly);
  cursor: pointer;

  &__sort-option {
    font-size: 2rem;
    padding: 0.8rem;
    position: relative;

    @include media-query(xlarge) {
      @include hover-effect('after', (left:-0.05rem, bottom:-0.5rem));
    }

    &--selected-option {
      @include pseudo-element-styling('after', (left:-0.05rem, bottom:-0.5rem)) {
        transform: scaleX(1);
      }
    }
  }
}