@import '../../styles/styles.scss';

.ErrorBoundary {
  @include flexbox($flex-direction: column);
  padding-top: 5rem;

  &__image {
    width: 90%;
    max-width: 76.5rem;
    height: 90%;
    max-height: 47.7rem;
    margin-bottom: 5rem;
  }
}