@import '../../styles/styles';

.ProductsPanel {
  width: 100%;
  height: 100%;
  position: relative;
  @include grid($grid-template-columns: 1fr,
    $grid-template-rows: auto 1fr);
  padding: 5rem 2rem 2rem;
  background-color: map-get($colors, primary);

  @include media-query(xlarge) {
    border: map-get($borders, light);
  }

  &__categories-list {
    @include grid($row-gap:3rem);
    text-align: center;
  }

  &__category {
    font-size: 2.5rem;
    cursor: pointer;

    @include media-query(xlarge) {
      font-size: 2.3rem;
      position: relative;
      @include hover-effect('after', (bottom:-0.5rem));
    }
  }
}