@import '../../styles/styles.scss';

.ProductColorOptions {
  width: 100%;
  @include flexbox($flex-direction:column);

  &__heading {
    width: 100%;
    font-size: 1.7rem;
    font-weight: normal;
  }

  .colors-container {
    width: 80%;
    max-width: 20rem;
    margin-top: 3rem;
    @include flexbox($justify-content: space-evenly);
  }

  &__color-option {
    width: 3.5rem;
    height: 3.5rem;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;

    @include hover-effect($shift:(bottom:-1.15rem));

    &--selected-option {
      @include pseudo-element-styling($shift:(bottom:-1.15rem)) {
        transform: scaleX(1);
      }
    }
  }
}