@font-face {
    font-family: 'SignPainter-HouseScript';
    src: url(../../assets/SignPainter-HouseScript.ttf);
}

.Navigation {
    display: flex;
    width: 100%;
    font-size: 1.7rem;
    padding: 0.5rem;
    justify-content: flex-start;
    align-items: center;

    &__site-name-link {
        font-family: SignPainter-HouseScript, Arial, Helvetica, sans-serif;
        font-size: 3.5rem;
        font-weight: 1;
    }

    &__list {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
    }

    &__list-item {
        padding-left: 1rem;
    }
}