@import "../../styles/styles";

.Navigation {
  width: 100%;
  max-width: 124rem;
  @include flexbox($flex-direction:column);
  font-size: 1.7rem;

  @include media-query(xsmall) {
    flex-direction: row;
    font-size: 1.8rem;
  }

  &__site-name-link {
    font-family: map-get($fonts, logo);
    font-size: 3.5rem;
    font-weight: 1;
    cursor: pointer;

    @include media-query(small) {
      font-size: 4rem;
    }

    @include media-query(xlarge) {
      font-size: 4.2rem;

    }
  }

  &__link {
    cursor: pointer;
    position: relative;

    @include media-query(xlarge) {
      @include hover-effect;

      &--selected {
        @include pseudo-element-styling {
          transform: scaleX(1);
        }
      }
    }
  }

  &__list {
    width: 100%;
    @include flexbox($justify-content: space-between);

    @include media-query(xsmall) {
      justify-content: flex-end;
    }
  }

  &__list-item {
    @include media-query(xsmall) {
      padding-left: 1rem;
    }

    @include media-query(small) {
      padding-left: 2.5rem;
    }


    @include media-query(xlarge) {
      position: relative;
    }
  }
}