.InputField {
    display: flex;
    width: 30%;
    height: 5rem;
    padding: 1rem;
    font-size: 1.8rem;
    border: 0.5px solid black;
    text-align: center;

    &--large-without-side-borders {
        border-left: none;
        border-right: none;
        width: 45%;
        height: 5rem;
    }
}