.InputField {
  width: 100%;
  height: 5rem;
  font-size: 1.8rem;
  padding: 1rem;
  display: flex;
  position: relative;
  border: 0.1rem solid black;
  text-align: center;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type=number] {
    -moz-appearance: textfield;
  }

  &--without-side-borders {
    border-left: none;
    border-right: none;
  }

  &--sign-in-sign-up-form {
    font-size: 1.6rem;
    text-align: left;
    border: 0.5px solid #cbcbcb;
  }

  &--error {
    border: 0.5px solid red;
  }

  &:focus {
    outline: none;
    border: 0.15rem solid #3f51b5;
  }

  &--without-side-borders:focus {
    border-left: none;
    border-right: none;
  }
}