.CollectionItem {
    display: flex;
    box-shadow: 0.5rem 0.5rem 1rem rgb(214, 210, 210);
    flex-direction: column;
    min-width: 14.5rem;

    &--single-column {
        display: grid;
        max-width: 40rem;
        grid-template-rows: auto minmax(22rem, auto);
    }

    &__image {
        width: 100%;
        height: 20rem;
        object-fit: cover;
        object-position: 50% 50%;

        &--single-column {
            height: auto;
        }
    }

    .item-container {
        display: flex;
        min-height: 8rem;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 1rem;
    }

    &__name {
        font-size: 2.1rem;
        text-align: center;
    }

    &__price {
        width: 100%;
        font-size: 1.7rem;
        font-weight: normal;
        text-align: center;

    }

    &__description {
        font-size: 1.4rem;
        text-align: justify;
    }

    &__colors-info {
        font-size: 1.4rem;
    }

    .colors-container {
        width: 80%;
        max-width: 15rem;
        display: flex;
        justify-content: space-evenly;
    }

    &__available-color {
        height: 2rem;
        width: 2rem;
        background-color: #39CCCC;
        border-radius: 50%;
        display: inline-block;

        &--maroon {
            background-color: #85144b;
        }

        &--orange {
            background-color: orange;
        }

        &--navy {
            background-color: #001f3f;
        }
    }

}