@import '../../styles/styles';

.Header {
  position: relative;
  height: map-get($header-height, small);

  @include media-query(xsmall) {
    height: map-get($header-height, regular);
  }

  .fixed-container {
    width: 100%;
    height: 8rem;
    position: fixed;
    @include flexbox;
    font-size: 1.7rem;
    padding: 1rem;
    align-items: center;
    z-index: 2;
    box-shadow: map-get($box-shadows, header);
    background-color: map-get($colors, primary);

    @include media-query(xsmall) {
      height: 7rem;
    }
  }
}