@import '../../styles/styles.scss';

.Footer {
  height: map-get($footer-height, small);
  @include flexbox;
  background-color: map-get($colors, tertiary);

  @include media-query(xsmall) {
    height: map-get($footer-height, regular);
  }
}