@import '../../styles/styles.scss';

.FilterPanel {
  height: 100%;
  width: 100%;
  position: relative;
  @include flexbox($flex-direction: column, $justify-content: space-evenly);
  background-color: white;
  z-index: 2;

  @include media-query(xlarge) {
    border: map-get($borders, light);
  }

  &__filter {
    height: 100%;
    max-height: 60rem;
    width: 100%;
    @include flexbox($flex-direction: column, $justify-content: space-evenly);

  }

  &__filter-type {
    font-size: 2rem;
    font-weight: normal;
  }

  &__price-filter-form {
    @include flexbox($flex-direction: column);
  }

  &__range-number-inputs {
    width: 100%;
    margin: 4rem 0;
    @include flexbox;
  }

  &__dash {
    margin: 0 2rem;
    font-size: 3rem;
    font-weight: lighter;
  }

  .InputField {
    width: calc((72.5% - 4.83rem) / 2);
  }

  .CustomButton {
    width: 72.5%;
  }
}

.input-range {
  width: 72.5%;

  &__track {
    height: 0.5rem
  }

  &__slider-container:nth-of-type(1) &__slider,
  &__slider-container:nth-of-type(1) &__label--value {
    transform: translateX(-50%);
  }

  &__slider {
    height: 2rem;
    width: 2rem;
    margin-top: -1.25rem;
  }

  &__label--min,
  &__label--max {
    display: none;
  }

  &__label--value {
    top: -3.2rem;
    font-size: 1.2rem;
    color: black;
  }

  &__label-container {
    left: -15%;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}