.CheckoutTable {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    margin-bottom: 3rem;

    &__row-column-headings {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
        align-items: center;
    }

    &__column-heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.6rem;
    }
}