.CollectionPreview {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin-top: 2.5rem;

    &__heading {
        width: 50%;
        text-align: left;
        font-size: 2rem;
        font-weight: normal;
    }

    &__link {
        width: 50%;
        text-align: right;
        font-size: 1.8rem;
        font-weight: bold;
    }

    .item-container {
        display: flex;
        overflow-x: scroll;
        margin-top: 2rem;
        margin-bottom: 1.5rem;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }

    }

}