.CollectionPreview {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    margin-top: 2.5rem;

    &__heading {
        width: 50%;
        text-align: left;
        font-size: 2rem;
        font-weight: normal;
    }

    &__link {
        width: 50%;
        text-align: right;
        font-size: 1.8rem;
        font-weight: bold;
    }

    &__items {
        display: grid;
        height: 30rem;
        margin: 2.5rem 0;
        overflow-x: scroll;
        grid-template-columns: repeat(10, 14.5rem);
        grid-template-rows: 28rem;
        column-gap: 2rem;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }

    }

}