@import './styles/styles';

:root {
  font-size: 62.5%;
}

#root {
  @include media-query(xlarge) {
    background-color: map-get($colors, background);
    //background-color: #eee2dc;
    //background-color: #f3e0dc;
    //background-color: #86b3d1;
    //background-color: #FEF9C7;
    //background-color: #464866;
    //background-image: url(https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  }

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: map-get($fonts, main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

ul {
  list-style-type: none;
}

input,
textarea,
button,
select,
div,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  color: black;
  text-decoration: none;
}

::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: map-get($colors, scrollbar);
  border-radius: 1rem;
}