@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Roboto&display=swap");

:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto",
        "Balsamiq Sans",
        "arial";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

ul {
    list-style-type: none;
}

input,
textarea,
button,
select,
div,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    color: black;
    text-decoration: none;
}