.CustomButton {
    background-color: white;
    border: none;
    cursor: pointer;
    border-top: 0.25rem solid transparent;

    &__content {
        display: flex;
        width: 10rem;
        height: 4.5rem;
        padding: 0.5rem;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.9rem;
        pointer-events: none;
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &--selected {
        border-top: 0.25rem solid #3f51b5;
    }

    &--with-border {
        border: 0.1rem solid black;
    }
}