.CustomButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 5rem;
    border-top: 0.25rem solid transparent;

    &__content {
        height: 5rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.9rem;
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &__link {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--selected {
        border-top: 0.25rem solid #3f51b5;
    }

    &--with-border {
        border: 0.1rem solid black;
    }

    &--large-with-border {
        width: 16.5rem;
        border: 0.1rem solid black;
    }

    &--google {
        width: 100%;
        background-color: rgb(66, 133, 244);
    }

    &--parent-width-with-border {
        width: 100%;
        border: 0.1rem solid black;
    }
}