@import '../../styles/styles.scss';

.CheckoutTotal {
  width: 100%;
  max-width: 124rem;
  margin: 0 auto 3rem;
  text-align: right;

  &__value {
    font-size: 2.2rem;
    font-weight: bold;

    @include media-query(small) {
      font-size: 2.5rem;
    }
  }
}