.Slider {

    width: 100vw;
    height: 45rem;
    position: relative;
    overflow: hidden;

    &__content {
        height: 100%;
        display: flex;
        transition: transform ease-out 0.4s;
    }

    .icon-container {
        width: 4rem;
        height: 4rem;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        left: 2%;
        transform: translateY(-50%);
        border-radius: 50%;
        background-color: white;

        &--arrow-right {
            left: 98%;
            transform: translate(-100%, -50%)
        }
    }
}