@import '../../styles/styles';

.Slider {
    width: 100vw;
    height: 70vh;
    position: relative;
    overflow: hidden;

    &__content {
        height: 100%;
        display: flex;
    }

    .icon-container {
        width: 4rem;
        height: 4rem;
        @include flexbox;
        position: absolute;
        bottom: 50%;
        left: 2%;
        border-radius: 50%;
        background-color: map-get($colors, slider);
        cursor: pointer;

        &--arrow-right {
            left: 98%;
            transform: translateX(-100%);
        }

    }
}